body {
  background: linear-gradient(to bottom right, #D9EAFD, #F1F0E9);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.dashboard {
  max-width: 650px;
  margin: 70px auto;
  padding: 25px;
  background: #183B4E;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.header {
  text-align: center;
}

.header h1 {
  color: #eafaf1;
  font-size: 28px;
  margin-bottom: 10px;
}

.underline {
  width: 80px;
  height: 4px;
  background: #00dd88;
  margin: 0 auto 20px;
  border-radius: 2px;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  height: 40px;
}

.input-group input {
  flex: 1;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #ccc;
  background: #f3f3f3;
}